.app {
  text-align: center;
  margin-top: 50px;
}

.task {
  background-color: rgb(92, 92, 155);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px 0;

}

.task-list {
  margin-top: 20px;
}
body
{
  background-color:rgb(219, 191, 200);
}